{% extends 'base.html.twig' %}

{% block title %}Écoride - Recherche
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="module" src="{{ asset('scripts/search_autocomplete.js') }}"></script>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.min.css">
{% endblock %}

{% block body %}
	<div class="oxanium d-flex justify-content-center">
		<div class="p-2">
			<h1 class="viga-regular text-center mb-3 fs-3">Rechercher un covoiturage</h3>
			<hr>
			{{ form_start(form) }}
			<div class="row">
				<div class="col-sm d-flex flex-column justify-content-between align-items-center">
					{{ form_row(form.startPlace) }}
					<div class="">
						<i class="bi bi-caret-down-fill"></i>
					</div>
					{{ form_row(form.endPlace) }}
				</div>
				<div class="col-sm d-flex flex-column justify-content-between">
					{{ form_row(form.startDateTime) }}
					<button type="submit" class="form-control btn-ecoride text-left px-3 text-white d-flex justify-content-between mb-3" placeholder="Rechercher une destination..." id="research">
						Rechercher
						<i class="bi bi-search"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row g-4 mb-5 justify-content-center w-100">

		<div class="col-md-4 col-sm-12">
			<h2 class="viga-regular text-center mb-3 fs-4">Filtres :</h2>
			<div class="card">
				<ul class="list-group list-group-flush mt-3">
					<h3 class="oxanium text-center fs-5">Note minimum :</h3>
					{{form_row(form.filter_grade,attr = {'class': 'form-control text-center list-group-item oxanium'})}}
					<h3 class="oxanium text-center fs-5 mt-3">Prix maximum (Écopièces) :</h3>
					{{form_row(form.filter_price,attr = {'class': 'form-control text-center list-group-item oxanium'})}}
				</ul>
			</div>
			<div class="card mt-4">
				<ul class="list-group list-group-flush mt-3">
					<h3 class="oxanium text-center fs-5">Préférences :</h3>
					{{form_row(form.filter_preferences,attr = {'class': 'form-control text-center list-group-item oxanium'})}}
				</ul>
			</div>
		</div>
		{{ form_end(form) }}
		<div class="col-md-8 col-sm-12">
			{% if isSubmit %}
				<h2 class="viga-regular text-center mb-3 fs-4">Résultat de la recherche :</h2>
				{% if searchResults is empty %}
					<h3 class="text-center fs-5">Aucun trajet n'est disponible pour
						{{cities.startPlace}}
						<i class="bi bi-arrow-right"></i>
						{{cities.endPlace}}
						(modifier les filtres)</h3>
				{% endif %}

				{% for carpool in searchResults %}
					{% include 'partials/card.search.carpool.html.twig' %}
				{% endfor %}
			{% endif %}
		</div>
	</div>
	<datalist id="citySuggestions"></datalist>
{% endblock %}
