{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	{{ form_start(registrationForm, {
    action: path('app_register'),
    method: 'POST',
    attr: { class: 'oxanium mt-5 ecoride-container rounded p-5 container justify-content-center' }
  }) }}
	<h3 class="text-center viga-regular">Inscription</h3>
	<hr>
	<div class="row px-5 mt-5 mb-3">
		<div class="col px-2">
			{{ form_row(registrationForm.first_name) }}
			{{ form_row(registrationForm.last_name) }}
			{{ form_row(registrationForm.email) }}
			{{ form_row(registrationForm.username) }}
			{{ form_row(registrationForm.roles) }}
		</div>
		<div class="col px-2">
			{{ form_row(registrationForm.phone_number) }}
			{{ form_row(registrationForm.postal_adress) }}
			{{ form_row(registrationForm.birth_date) }}
			{{ form_row(registrationForm.plainPassword) }}
		</div>
		{{ form_row(registrationForm.agreeTerms) }}
	</div>


	<div class="text-center">
		<button type='submit' class='load-btn btn btn-success' data-loading-text='Inscription...'>
			<i class='bi bi-send-fill'></i>
			<span class='spinner-border spinner-border-sm ms-2 d-none' role='status' aria-hidden='true'></span>
			<span class='btn-text'>S'inscrire</span>
		</button>
	</div>

	<div class="form-text text-center mt-2">
		Déjà un compte ?
		<a href="{{ path('app_login') }}" class="ecoride-link">Connectez-vous !</a>
	</div>
	{{ form_end(registrationForm) }}

{% endblock %}
