{% extends 'base.html.twig' %}

{% block title %}Écoride - Ajouter une voiture
{% endblock %}

{% block body %}
	<div class="oxanium mt-5 ecoride-container rounded p-5 container justify-content-center ">
		<h3 class="text-center viga-regular">Ajout d'une voiture :</h3>
		<hr>
		<div class="row px-5 mt-5 mb-1">
			<div class="col px-2">
				{{ form_start(form)}}
				{{ form_row(form.marque) }}
			</div>
			<div class="col px-2">
				{{ form_row(form.model) }}
			</div>
		</div>
		<div class="row px-5 mt-1 mb-1">
			<div class="col px-2">
				{{ form_row(form.registration) }}
			</div>
			<div class="col px-2">
				{{ form_row(form.first_date_registration) }}
			</div>
		</div>
		<div class="row px-5 mt-1 mb-3">
			<div class="col px-2">
				{{ form_row(form.power_engine) }}
			</div>
			<div class="col px-2">
				{{ form_row(form.color) }}
			</div>
		</div>
		<div class="text-center">
			{{ form_row(form.save) }}
		</div>
		{{form_end(form)}}
	{% endblock %}
