{% extends 'base.html.twig' %}

{% block title %}Écoride - Créer un trajet
{% endblock %}

{% block body %}
	<div class="oxanium mt-5 ecoride-container rounded p-4 p-sm-5 container justify-content-center">
		<h3 class="text-center viga-regular">Créer un trajet :</h3>
		<hr>
		<div class="text-center">
			<h5 class="viga-regular">Véhicule utilisé :{{user.currentCar.marque.name}}
				{{user.currentCar.model}}
			</h5>
			<a href="{{ path('app_car_index') }}" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Changer de véhicule</a>
		</div>
		<hr>

		{{ form_start(form)}}
		<div class="row g-3">
			<div class="col-12 col-md-6">
				{{ form_row(form.start_place) }}
			</div>
			<div class="col-12 col-md-6">
				{{ form_row(form.end_place) }}
			</div>
			<div class="col-12 col-md-6">
				{{ form_row(form.startAdress) }}
			</div>
			<div class="col-12 col-md-6">
				{{ form_row(form.endAdress) }}
			</div>
			<div class="col-12">
				{{ form_row(form.start_date) }}
			</div>
			<div class="col-12 col-md-6">
				{{ form_row(form.available_seat) }}
			</div>
			<div class="col-12 col-md-6">
				{{ form_row(form.price_per_person) }}
			</div>
		</div>

		<div class="text-center mt-4">
			{{ form_row(form.save) }}
		</div>
		{{form_end(form)}}
		<div class="text-center text-danger fw-bold mt-3">
			Attention, lorsque vous créez un trajet, cela vous coutera 2
			<i class="bi bi-coin"></i>.
		</div>


	{% endblock %}
