{% extends 'base.html.twig' %}

{% block title %}Écoride - Trajet
	{{carpool.startPlace}}
	>
	{{carpool.endPlace}}
{% endblock %}

{% block body %}
	<div class="mt-5 ecoride-container rounded p-lg-2 d-flex justify-content-center text-center align-self-center align-self-lg-start">
		<div
			class="w-75">

			{# Zone de résumé du trajet #}
			{% set car = carpool.createdby.currentcar %}
			{% include 'partials/carpool/element.carpooldetails.html.twig' %}

			{# Bouton de démarrage du covoiturage #}
			<div class="row p-3 justify-content-center">
				<div class="col-auto">
					{% if carpool.statut == 'ONLINE' and carpool.isLaunchable %}
						<form action="{{ path('app_carpool_launch', {id: carpool.id}) }}" method="POST">
							<button class="load-btn btn btn-primary" data-loading-text="Démarrage..." type="submit">
								<i class="bi bi-play-fill"></i>
								<span class="spinner-border spinner-border-sm ms-2 d-none" role="status" aria-hidden="true"></span>
								<span class="btn-text">Démarrer le covoiturage</span>
							</button>
						</form>


					{% endif %}
					{% if carpool.statut == 'IN_PROGRESS' %}
						<form action="{{path('app_carpool_finalize', {id:carpool.id})}}" method="post">
							<button class='load-btn btn btn-success' href='' data-loading-text='Chargement...' type="submit">
								<span class='spinner-border spinner-border-sm ms-2 d-none' role='status' aria-hidden='true'></span>
								<i class="bi bi-house-check"></i>
								<span class='btn-text'>Finaliser le covoiturage</span>
							</button>
						</form>
					{% endif %}
					{% if carpool.statut == 'DONE' %}
						<a class="btn btn-success disabled">
							<i class="bi bi-check2-all"></i>
							Covoiturage effectué
						</a>
					{% endif %}
					{% if carpool.statut == 'MISS' %}
						<a class="btn btn-danger disabled">
							<i class="bi bi-check2-all"></i>
							Covoiturage manqué
						</a>
					{% endif %}
				</div>
			</div>
			{# Zone information covoiturage -> nombre de place et prix par place #}
			<div class="row row-cols-lg-3 row-cols-1 p-lg-3 p-2 bg-light text-dark my-2 rounded shadow-sm bg-white justify-content-center">
				<div class="col d-flex align-items-center justify-content-center">
					<i class="bi bi-person-workspace fs-2 pe-2"></i>
					{{carpool.availableseat}}
					{{carpool.availableseat > 1 ? 'places disponibles' : 'place disponible'}}
				</div>
				<div class="col d-flex align-items-center justify-content-center">
					<i class="bi bi-currency-euro pe-2 fs-2"></i>
					{{carpool.pricePerPerson}}
					<i class="bi bi-coin px-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Écopièce"></i>
					par place
				</div>
				<div class="col d-flex align-items-center justify-content-center">


					<i class="bi {{ carpool.car.powerEngine == 'Electrique' ? 'bi-lightning-charge-fill':'bi-fuel-pump-fill' }} pe-2 fs-2"></i>
					{{carpool.car.powerEngine }}
				</div>
			</div>
			<div class="row row-cols-1 p-lg-3 p-2 bg-light text-dark my-2 rounded shadow-sm bg-white justify-content-center">
				<h5 class="text-start">Participant à la course :
				</h5>
				<div class="d-flex justify-content-center gap-2 flex-wrap">
					{% if allParticipation is not empty %}
						{% for participation in allParticipation %}
							{% include 'partials/card.user.carpool.html.twig' %}
						{% endfor %}
					{% endif %}
				</div>
			</div>
			{% if carpool.statut == 'DONE' %}
				<div class="row row-cols-1 p-lg-3 p-2 bg-light text-dark my-2 rounded shadow-sm bg-white justify-content-center">
					<h5>Avis sur ce trajet :
					</h5>
					{% for review in carpoolReviews %}
						{% set photoBase64 = review.user.photo | to_base64 %}
						<div class="row align-items-center">
							<div class="col-auto d-flex flex-column text-center">
								{% if photoBase64 is not null %}
									<img src="data:image/png;base64,{{ photoBase64|e }}" class="profile-img" alt="Image de profil">
								{% else %}
									<img src="{{ asset('import/blank-profile.png') }}" alt="Image par défaut" class="profile-img">
								{% endif %}
								<div class="fs-5">{{ review.user.username }}</div>
							</div>
							<div class="col bg-secondary p-3 text-white text-start bubble">
								{{ review.review.comment }}
							</div>
						</div>


					{% endfor %}
				</div>
			</div>
		{% endif %}

	</div>
</div>{% endblock %}
