{% extends 'base.html.twig' %}

{% block title %}Écoride - Mes Trajet
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="module" src="{{ asset('scripts/search_autocomplete.js') }}"></script>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.min.css">
	<link rel="stylesheet" href="{{ asset('styles/search_autocomplete.css') }}">
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-between oxanium justify-content-center ">
		<div>
			<h1>Mes Trajets :</h1>
		</div>
		<div>
			<a class="btn btn-success" href="{{path(name:'app_carpool_create')}}">Créer un nouveau trajet</a>
		</div>
	</div>
	<hr>
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item" role="presentation">
			<button class="nav-link active" id="online-carpool-tab" data-bs-toggle="tab" data-bs-target="#online-carpool-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">En ligne</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="ongoing-carpool-tab" data-bs-toggle="tab" data-bs-target="#ongoing-carpool-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">En route</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="done-carpool-tab" data-bs-toggle="tab" data-bs-target="#done-carpool-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Terminé</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="missed-carpool-tab" data-bs-toggle="tab" data-bs-target="#missed-carpool-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Non validé</button>
		</li>
	</ul>


	<div class="tab-content" id="myTabContent">
		<div class="tab-pane fade show active" id="online-carpool-tab-pane" role="tabpanel" aria-labelledby="online-carpool-tab" tabindex="0">
			<div class="d-flex justify-content-center gap-2 my-4 flex-wrap">
				{% if onlineCarpools is empty %}
					<h5>Aucun trajet n'est en ligne.</h5>
				{% else %}
					{% for carpool in onlineCarpools %}
						{% set current = true %}
						{% include "partials/card.carpool.html.twig" %}
					{% endfor %}
				{% endif %}
			</div>
		</div>
		<div class="tab-pane fade" id="ongoing-carpool-tab-pane" role="tabpanel" aria-labelledby="ongoing-carpool-tab" tabindex="0">
			<div class="d-flex justify-content-center gap-2 my-4 flex-wrap">
				{% if inProgressCarpools is empty %}
					<h5>Aucun trajet n'est en cours.</h5>
				{% else %}
					{% for carpool in inProgressCarpools %}
						{% set soon = true %}
						{% include "partials/card.carpool.html.twig" %}
					{% endfor %}
				{% endif %}

			</div>

		</div>
		<div class="tab-pane fade" id="done-carpool-tab-pane" role="tabpanel" aria-labelledby="done-carpool-tab" tabindex="0">
			<div class="d-flex justify-content-center gap-2 my-4 flex-wrap">
				{% if doneCarpools is empty %}
					<h5>Aucun trajet n'est terminé</h5>
				{% else %}
					{% for carpool in doneCarpools %}
						{% set previous = true %}
						{% include "partials/card.carpool.html.twig" %}
					{% endfor %}
				{% endif %}
			</div>
		</div>
		<div class="tab-pane fade" id="missed-carpool-tab-pane" role="tabpanel" aria-labelledby="missed-carpool-tab" tabindex="0">
			<div class="d-flex justify-content-center gap-2 my-4 flex-wrap">
				{% if missCarpools is empty %}
					<h5>Aucun trajet n'a été manqué</h5>
				{% else %}
					{% for carpool in missCarpools %}
						{% set previous = true %}
						{% include "partials/card.carpool.html.twig" %}
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>

	<hr>

	<div class="oxanium">
		<div>
			<h1>Trajets rejoint :</h1>
		</div>
		<div class="d-flex justify-content-center gap-2 my-4 flex-wrap">
			{% if allParticipation is empty %}
				<h5>Il n'y a pas de trajet à afficher</h5>
			{% else %}
				{% for participation in allParticipation %}
					{% set cancel = true %}
					{% set carpool = participation.carpooling %}
					{% include "partials/card.joinedcarpool.html.twig" %}
				{% endfor %}
			{% endif %}
		</div>
	</div>
{% endblock %}
