<h1 style="color:red;">INFORMATION IMPORTANTE !</h1>
<hr>
<p>Bonjour
	{{impactedUser.username}},
</p>
<p>L'utilisateur {{user.username}} a décidé d'annuler le trajet {{carpooling.startplace}} > {{carpooling.endplace}} prévu ce {{carpooling.startdate | date('d/m/Y')}}
à {{carpooling.startdate | date('H\\hi')}}. Un remboursement de {{carpooling.priceperperson}} écopièces vous a été distribué.</p>
<p>
</p>
<hr>
<p>Bonne journée à vous, l'équipe ÉCORIDE.</p>
