<h1 style="color:red;">INFORMATION IMPORTANTE !</h1>
<hr>
<p>Bonjour
	{{kickedUser.username}},
</p>
<p>L'utilisateur {{user.username}} a décidé d'annuler le trajet {{carpool.startplace}} > {{carpool.endplace}} prévu ce {{carpool.startdate | date('d/m/Y')}}
à {{carpool.startdate | date('H\\hi')}}. Un remboursement de {{carpool.priceperperson}} écopièces vous a été distribué.</p>
<p>
</p>
<hr>
<p>Bonne journée à vous, l'équipe ÉCORIDE.</p>
