{# Définition d'une variable qui vérifie la présence d'un User. #}
{% set isConnected = user is defined and user is not null %}
<div class="blank"></div>
<header class="navbar-ecoride fixed-top text-color-primary">
	<nav class="navbar">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{ path('home') }}">
				<img href="index.php"><img src=" {{app.request.getBaseURL()}}/import/logo.png" class="navbar-brand" alt="logo" width="60">
			</a>
			<h1 class="agbalumo-regular ms-0 mb-0 d-inline-block align-text-top" style="color: #449652;">ÉCORIDE</h1>
			<div class="d-flex align-items-center">
				<div class="dropstart me-3">

					{% if isConnected %}
						<button class="btn btn-success dropdown-toggle fs-6" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							<span class="d-none d-lg-inline">{{user.getUsername()}}</span>
							<i class="bi bi-person-square"></i>
						</button>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" type="button" href="{{path(name:'app_profile_manager')}}">Mon profil</a>
							</li>
							{% if is_granted('ROLE_DRIVER') %}
								<li>
									<a class="dropdown-item" type="button" href="{{path(name:'app_carpool_index')}}">Mes trajets</a>
								</li>
								<li>
									<a class="dropdown-item" type="button " href="{{path(name:'app_car_index')}}">Mes véhicules</a>
								</li>
							{% endif %}
							<li>
								<a class="dropdown-item" type="button " href="{{path(name:'app_wallet')}}">Mon portefeuille
									<div class="text-end text-success fw-bold">
										{{ user.ecopiece == null ? '0' : user.ecopiece }}
										<i class="bi bi-coin"></i>
									</div>
								</a>
							</li>
						</ul>
					{% endif %}
				</div>
				<div class="navbar oxanium d-block-inline">
					<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
						<i class="bi bi-list"></i>
					</button>
				</div>
			</div>
			<!--Menu dépliable-->
			<div class="offcanvas offcanvas-end text-color-primary" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
				<div class="offcanvas-header ">
					<h4 class="offcanvas-title viga-regular text-center" id="offcanvasNavbarLabel">Menu Principal</h4>
					<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body ">
					<ul class="navbar-nav justify-content flex-grow-1 pe-3">
						{% if not isConnected %}
							<li class="nav-item">
								<a href="{{ path(name = 'app_login') }}" class="btn btn-outline-success oxanium mb-1" type="button" id="connexionButton">
									<i class="bi bi-person-circle"></i>
									Se connecter
								</a>
							</li>
							<hr>
						{% endif %}
						<li class="nav-item">
							<a class="nav-link {{ app.current_route == 'home' ? 'active' : '' }} oxanium" aria-current="page" href="{{path(name = 'home')}}">Accueil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link {{ app.current_route == 'app_search_carpool' ? 'active' : '' }} oxanium" aria-current="page" href="{{path(name = 'app_search_carpool')}}">Rechercher un covoiturage</a>
						</li>
						<li class="nav-item">
							<a class="nav-link oxanium" aria-current="page" href="">Nous contacter</a>
						</li>
						{% if isConnected %}
							<hr>
							<li class="nav-item">
								<a href="{{ path(name = 'app_logout') }}" class="btn btn-outline-danger oxanium mb-1" type="button" id="connexionButton">
									<i class="bi bi-person-circle"></i>
									Se déconnecter
								</a>
							</li>
						{% endif %}
						<!--Ajouter les nav-item en fonction du rôle de l'utilisateur-->
					</ul>
				</div>
			</div>
		</div>
	</nav>
</header>
