{% extends 'base.html.twig' %}
{% set photoBase64 = user.photo|to_base64 %}
{% block title %}Profil -
	{{user.username}}
{% endblock %}

{% block body %}
	<div class="oxanium mt-5 ecoride-container p-lg-5 justify-content-center rounded">
		<h1 class="my-3 text-center viga-regular">Mon profil :
		</h1>

		<table class="table justify-content-center">
			<tbody class="rounded">
				<tr>
					<th class="col align-middle">
						<span>Photo de profil :</span>
					</th>
					<td class="col-auto">

						<div class="row row-cols-2 my-2 align-items-center">
							<div class="col-lg-2">
								{% if photoBase64 is not null %}
									<img src="data:image/webp;base64,{{ photoBase64 }}" class="profile-img" alt="Image de profil">
								{% else %}
									<img src="../import/blank-profile.png" class="profile-img" alt="Image par défaut">
								{% endif %}
							</div>
							<div class="col-lg-10">
								{{ form_start(form) }}
								<div class="d-flex justify-content-evenly">
									<div>
										{{ form_row(form.photo) }}
									</div>
									<div>
										<button type="submit" class="btn btn-success mb-3">{{photoBase64 == null ? "Ajouter une" : "Modifier la"}}
											photo</button>
										<a href="{{ path(name = 'app_delete_profile_picture', parameters = {user_id: user.id} ) }}" class="btn btn-danger {{photoBase64 == null ? " disabled" : " "}} mb-3" role="button" {{photoBase64 == null ? "aria-disabled='true'" : ""}}>Supprimer</a>
									</div>


								</div>
							</div>
							{{ form_end(form) }}

						</div>
					</td>
				</tr>
			</tbody>
		</table>


		<table class="table justify-content-center rounded">
			<tbody class="rounded">
				<tr>
					<th class="col-lg-4">Nom d'utilisateur :
					</th>
					<td class="col-auto">
						<input type="text" value="{{user.username}}" readonly>
					</td>
					<td>
						<a href="" id="">
							<i class="bi bi-pencil"></i>
						</a>
					</td>
				</tr>
				<tr>
					<th class="col">Nom de famille :
					</th>
					<td class="col">
						<input type="text" value="{{user.firstname}}" readonly>
					</td>
					<td>
						<a href="" id="">
							<i class="bi bi-pencil"></i>
						</a>
					</td>
				</tr>
				<tr>
					<th class="col">Prénom :
					</th>
					<td>
						<input type="text" value="{{user.lastname}}" readonly>
					</td>
					<td>
						<a href="" id="">
							<i class="bi bi-pencil"></i>
						</a>
					</td>
				</tr>
				<tr>
					<th class="col">Numéro de téléphone :
					</th>
					<td>
						<input type="text" value="{{user.phonenumber}}" readonly>
					</td>
					<td>
						<a href="" id="">
							<i class="bi bi-pencil"></i>
						</a>
					</td>
				</tr>
				<tr>
					<th class="col">Adresse postale :
					</th>
					<td>
						<input type="text" value="{{user.postaladress}}" readonly>
					</td>
					<td>
						<a href="" id="">
							<i class="bi bi-pencil"></i>
						</a>
					</td>
				</tr>
				<tr>
					<th class="col">Date de naissance :
					</th>
					<td>
						<input type="date" value="{{user.birthdate | date('Y-m-d')}}" readonly>
					</td>
					<td>
						<a href="" id="">
							<i class="bi bi-pencil"></i>
						</a>
					</td>
				</tr>
				<tr>
					<th class="col">Password :
					</th>
					<td>
						<input type="password" value="password" readonly>
					</td>
					<td>
						<a href="" id="">
							<i class="bi bi-pencil"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</tr>
</tbody></td></tr></tbody></div>{% endblock %}
